SOATutorialsWin11/EBS_SalesOrder_Import_ConcProg/SOA/Schemas/EBS_SalesOrder_ConcProg_BPELProcess.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SOATutorialsWin11/EBS_SalesOrder_Import_ConcProg/EBS_SalesOrder_ConcProg_BPELProcess"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="input" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>