SOATutorialsWin11/EBS_SalesOrder_Import_ConcProg/SOA/Schemas/ImportSalesOrderCP_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ImportSalesOrderCP" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ImportSalesOrderCP" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="APPLICATION" type="string" db:index="4" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PROGRAM" type="string" db:index="5" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESCRIPTION" type="string" db:index="6" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="START_TIME" type="string" db:index="7" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SUB_REQUEST" type="int" db:index="8" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="P_Operating_Unit" db:name="ARGUMENT1" type="string" db:index="9" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Order_Source" db:name="ARGUMENT2" type="string" db:index="10" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Orig_Sys_Document_Ref" db:name="ARGUMENT3" type="string" db:index="11" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Operation_Code" db:name="ARGUMENT4" type="string" db:index="12" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Validate_Only" db:name="ARGUMENT5" type="string" db:index="13" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Debug_Level" db:name="ARGUMENT6" type="string" db:index="14" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Num_Instances" db:name="ARGUMENT7" type="string" db:index="15" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Sold_To_Org_Id" db:name="ARGUMENT8" type="string" db:index="16" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Sold_To_Org" db:name="ARGUMENT9" type="string" db:index="17" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Change_Sequence" db:name="ARGUMENT10" type="string" db:index="18" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Perf_Param" db:name="ARGUMENT11" type="string" db:index="19" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Rtrim_Data" db:name="ARGUMENT12" type="string" db:index="20" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="p_process_orders_with_null_org" db:name="ARGUMENT13" type="string" db:index="21" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Default_Org_Id" db:name="ARGUMENT14" type="string" db:index="22" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_Validate_Desc_Flex" db:name="ARGUMENT15" type="string" db:index="23" db:default="true" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="REQUEST_ID" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="RETURN_CODE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="RETURN_MESSAGE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
