SOATutorialsWin11/EBS_SalesOrder_Import_ConcProg/SOA/Schemas/InsertSalesOrder_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertSalesOrder" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertSalesOrder" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="OeHeadersIfaceAllCollection" type="OeHeadersIfaceAllCollection"/>
   <xs:complexType name="OeHeadersIfaceAllCollection">
      <xs:sequence>
         <xs:element name="OeHeadersIfaceAll" type="OeHeadersIfaceAll" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OeHeadersIfaceAll">
      <xs:sequence>
         <xs:element name="orderSourceId" type="xs:decimal" nillable="true"/>
         <xs:element name="origSysDocumentRef" type="string50" nillable="true"/>
         <xs:element name="changeSequence" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="changeRequestCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="orderSource" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="orgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="headerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="versionNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="orderTypeId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderType" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="priceListId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="priceList" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="conversionRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="conversionRateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="conversionTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="conversionType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="transactionalCurrCode" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="transactionalCurr" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="salesrepId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="salesrep" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="salesChannelCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="returnReasonCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="taxPointCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="taxPoint" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="taxExemptFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="taxExemptNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="taxExemptReasonCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="taxExemptReason" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="agreementId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="agreement" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoicingRuleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoicingRule" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="accountingRuleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountingRule" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="paymentTermId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="paymentTerm" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="demandClassCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="demandClass" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentPriorityCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentPriority" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="shippingMethodCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shippingMethod" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="freightCarrierCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="freightTermsCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="freightTerms" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="fobPointCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="fobPoint" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="partialShipmentsAllowed" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="shipToleranceAbove" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToleranceBelow" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shippingInstructions" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="packingInstructions" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="orderDateTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="earliestScheduleLimit" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="latestScheduleLimit" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerPoNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerPaymentTermId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerPaymentTerm" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="paymentTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="paymentAmount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="checkNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="creditCardCode" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="creditCardHolderName" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="creditCardNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="creditCardExpirationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="creditCardApprovalCode" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="soldToOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soldToOrg" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCustomerNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCustomer" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="soldToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soldToContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="customerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="customerNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentPriorityCodeInt" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipToAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactFirstName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactLastName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCustomer" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCustomerNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToProvince" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToSiteInt" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipToState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceCustomer" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceCustomerNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="invoicePostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceProvinceInt" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceSite" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceSiteCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToContactFirstName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToContactLastName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="orderedByContactFirstName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="orderedByContactLastName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="dropShipFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="bookedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="closedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="cancelledFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="context" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="headerPoContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="poRevisionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute16" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute17" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute18" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute19" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute20" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="requestDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="submissionDatetime" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="operationCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="errorFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="readyFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="statusFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="forceApplyFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="interfaceStatus" type="string1000" minOccurs="0" nillable="true"/>
         <xs:element name="changeReason" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="changeComments" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="orderCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="soldFromOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soldFromOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="rejectedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="tpContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="creditCardApprovalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="salesChannel" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="customerPreferenceSetCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="priceRequestCode" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="origSysCustomerRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="origShipAddressRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="origBillAddressRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="origDeliverAddressRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="soldToContactRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="billToContactRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToContactRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToProvince" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="batchId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="attributeStatus" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="xmlMessageId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCustomerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceCustomerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCustomerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountingRuleDuration" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="attribute16" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute17" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute18" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute19" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute20" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="xmlTransactionTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="blanketNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pricingDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="soldToPhoneId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="transactionPhaseCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="salesDocumentName" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="quoteNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="quoteDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="userStatusCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="soldToSiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="supplierSignature" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="supplierSignatureDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="customerSignature" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="customerSignatureDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="soldToPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soldToOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPartySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPartySiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPartySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPartySiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPartySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPartySiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soldToPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="responseFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerName" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerLocation" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerSiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPartySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPartySiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerProvince" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="ibOwner" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="ibCurrentLocation" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="ibInstalledAtLocation" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationPostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="soldToLocationProvince" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="origSoldAddressRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="expirationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="orderFirmedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="ibOwnerCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="ibInstalledAtLocationCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="ibCurrentLocationCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="ineligibleForHvop" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="instrumentSecurityCode" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="oeLinesIfaceAllCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="OeLinesIfaceAll" type="OeLinesIfaceAll" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OeLinesIfaceAll">
      <xs:sequence>
         <xs:element name="origSysLineRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="origSysShipmentRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="changeSequence" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="changeRequestCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="orgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lineNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="splitFromLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lineTypeId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lineType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="itemTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItem" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="topModelLineRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="linkToLineRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="explosionDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="atoLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="componentSequenceId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="componentCode" type="string1000" minOccurs="0" nillable="true"/>
         <xs:element name="sortOrder" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="modelGroupNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="optionNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="optionFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="shipModelCompleteFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="sourceTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleStatusCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleShipDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleArrivalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actualArrivalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="promiseDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="deliveryLeadTime" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliveryId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="shippingQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shippingQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="shippedQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cancelledQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fulfilledQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pricingQuantity" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pricingQuantityUom" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="soldToOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soldToOrg" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipFromOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactFirstName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactLastName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactJobTitle" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactAreaCode1" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactAreaCode2" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactAreaCode3" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="dropShipFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="vehCusItemCumKeyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="custProductionSeqNum" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="loadSeqNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="overShipReasonCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="overShipResolvedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="authorizedToShipFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="shipToleranceAbove" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToleranceBelow" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipSetId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipSetName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="arrivalSetId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="arrivalSetName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceSetId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceSetName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="fulfillmentSetId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fulfillmentSetName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="priceListId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="priceList" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="unitListPrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitSellingPrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="calculatePriceFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="taxCode" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="tax" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="taxValue" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="taxDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="taxPointCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="taxPoint" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="taxExemptFlag" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="taxExemptNumber" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="taxExemptReasonCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="taxExemptReason" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="agreementId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="agreement" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoicingRuleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoicingRule" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="accountingRuleId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="accountingRule" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="paymentTermId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="paymentTerm" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="demandClassCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="demandClass" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentPriorityCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipmentPriority" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="shippingMethodCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shippingMethod" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="freightCarrierCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="freightTermsCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="freightTerms" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="fobPointCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="fobPoint" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="salesrepId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="salesrep" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnReasonCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="referenceType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="referenceHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="referenceHeader" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="referenceLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="referenceLine" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="creditInvoiceLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerPoNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerLineNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerShipmentNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerItemId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerItemIdType" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="customerItemRevision" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerItemNetPrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerPaymentTermId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="customerPaymentTerm" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="demandBucketTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="demandBucketType" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="scheduleItemDetail" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="demandStream" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="customerDockCode" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerDock" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerJob" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="customerProductionLine" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="custModelSerialNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="projectId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="project" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="taskId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="task" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="itemRevision" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="closedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="cancelledFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="contractPoNumber" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="linePoContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="attribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute16" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute17" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute18" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute19" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute20" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute21" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute22" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute23" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute24" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute25" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute26" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute27" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute28" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute29" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="industryAttribute30" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="pricingAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttributeCategory" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute16" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute17" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute18" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute19" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="globalAttribute20" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="returnAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment16" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment17" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment18" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment19" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="inventoryItemSegment20" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdatedBy" type="xs:decimal" minOccurs="0"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateLogin" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programApplicationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="programUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requestId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="operationCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="errorFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="statusFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="interfaceStatus" type="string1000" minOccurs="0" nillable="true"/>
         <xs:element name="changeReason" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="changeComments" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="endItemUnitNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="fulfilledFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="requestDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="shippingInstructions" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="packingInstructions" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="soldFromOrgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="soldFromOrg" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="rejectedFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="serviceTxnReasonCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="serviceTxnComments" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="serviceDuration" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="serviceStartDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="serviceEndDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="serviceCoterminateFlag" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="unitSellingPercent" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitListPercent" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitPercentBasePrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="serviceNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="servicedLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="serviceContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="customerItemName" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="servicePeriod" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="tpContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute5" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute6" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute7" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute8" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute9" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute10" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute11" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute12" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute13" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute14" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="tpAttribute15" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="serviceReferenceTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="serviceReferenceOrder" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="serviceReferenceLine" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="serviceReferenceSystem" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="preferredGrade" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="orderedQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orderedQuantityUom2" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="shippedQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="cancelledQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shippingQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shippingQuantityUom2" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="fulfilledQuantity2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="commitmentId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="commitment" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="subinventory" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="unitListPricePerPqty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitSellingPricePerPqty" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="context" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="returnContext" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="earliestAcceptableDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="latestAcceptableDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="splitFromLineRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="priceRequestCode" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="origShipAddressRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="origBillAddressRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="origDeliverAddressRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="shipToContactRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="billToContactRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToContactRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToProvince" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="splitFromShipmentRef" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="attributeStatus" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="configurationId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="configHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="configRevNbr" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCustomerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToCustomerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCustomerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCustomerName" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="shipToCustomerNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToCustomerName" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToCustomerNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCustomerName" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToCustomerNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="accountingRuleDuration" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="attribute16" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute17" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute18" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute19" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="attribute20" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="userItemDescription" type="string1000" minOccurs="0" nillable="true"/>
         <xs:element name="overrideAtpDateCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="lateDemandPenaltyFactor" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="lineCategoryCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="xmlTransactionTypeCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="blanketNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="blanketLineNumber" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="actualShipmentDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="planningPriority" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPartySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPartySiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPartySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPartySiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPartySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPartySiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="shipToPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="invoiceToPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="deliverToPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerName" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerNumber" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPartyNumber" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPartyId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerOrgContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerContactId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerContact" type="string360" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerLocation" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerSiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPartySiteId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPartySiteUseId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerAddress4" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerCity" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerState" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerPostalCode" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerCountry" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerProvince" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="endCustomerCounty" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="ibOwner" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="ibCurrentLocation" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="ibInstalledAtLocation" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="orderFirmedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="actualFulfillmentDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="ibOwnerCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="ibCurrentLocationCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="ibInstalledAtLocationCode" type="string30" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string40">
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string80">
      <xs:restriction base="xs:string">
         <xs:maxLength value="80"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string360">
      <xs:restriction base="xs:string">
         <xs:maxLength value="360"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string60">
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>